<!-- displays a datatable of orders -->

<% content_for :title, 'Customers' %>

<div class="content-header d-flex mb-1 justify-content-between">
  <h1 class="m-0" style="line-height: 39px;">
    Customers
  </h1>
</div>
<div class="content-body">

  <section id="products-index">

    <div class="card">
      <div class="card-content">
        <div class="card-body">

          <table id="customers-table" class="table table-striped" style="width:100%"
                 data-controller="app--market-space--customer--index"
                 data-app--market-space--customer--index-url-value="<%= app_market_space_customer_datatable_path %>"
                 data-app--market-space--customer--index-item-path-value="<%= app_market_space_customer_index_path %>"
          >
            <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Date Created</th>
              <th>View</th>
            </tr>
            </thead>

            <tbody class="table-striped"></tbody>

            <tfoot>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Date Created</th>
              <th>View</th>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>

  </section>

</div>