<!-- display a datatable of all markets -->
<% content_for :title, 'Users' %>

<div class="content-header d-flex mb-1 justify-content-between">
  <h1 class="m-0" style="line-height: 39px;">
    Users
  </h1>
</div>

<div class="mb-2">
  <%= turbo_frame_tag :invite_user, src: app_market_space_invite_user_to_market_path, loading: :lazy do %>
    <% render SpinnerComponent.new, cached: true %>
  <% end %>
</div>

<div class="card">
  <div class="card-content">
    <div class="card-body">

      <table id="products-table" class="table table-striped" style="width:100%"
             data-controller="app--market-space--user--index"
             data-app--market-space--user--index-url-value="<%= app_market_space_user_datatable_path %>"
             data-app--market-space--user--index-item-path-value="<%= app_market_space_user_index_path %>"
      >
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Last Activity At</th>
          <th>View</th>
        </tr>
        </thead>

        <tbody class="table-striped"></tbody>

        <tfoot>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Last Activity At</th>
          <th>View</th>
        </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
