<% content_for :title, "Product #{@product.sku}" %>

<div class="content-body">
  <section id="new-product">

    <%= turbo_frame_tag @product, src: app_product_path, loading: :lazy, data: { 'turbo-action': :advance } do %>

    <% end %>

  </section>
</div>
