<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto">
        <a class="navbar-brand" href="<% app_dashboard_index_path %>">
          <span class="brand-logo">
            <img alt="" src="">
          </span>
          <h2 class="brand-text">Manius Market</h2>
        </a>
      </li>
      <li class="nav-item nav-toggle">
        <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
          <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i>
          <i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

      <li class="nav-item">
        <a href="<%= app_dashboard_index_path %>">
          <i data-feather="home"></i><span class="menu-title">Dashboard</span>
        </a>
      </li>

      <% if @user.has_market? %>
        <li class="nav-item">
          <a href="<%= app_product_index_path %>">
            <i data-feather="layout"></i><span class="menu-title">Products</span>
          </a>
        </li>
      <% end %>

      <% if @user.permission? %>
        <li class="nav-item">
          <a href="<%= app_site_admin_path %>">
            <i data-feather="layout"></i><span class="menu-title">Site Admin</span>
          </a>
        </li>
      <% end %>


    </ul>
  </div>
</div>
<!-- END: Main Menu-->
