<!-- displays a datatable of products -->

<% content_for :title, 'Products' %>

<div class="content-header d-flex mb-1 justify-content-between">
  <h1 class="m-0" style="line-height: 39px;">
    Products
  </h1>

  <a href="<%= new_app_market_space_product_path %>" class="btn btn-success">
    <i data-feather="plus"></i> New Product
  </a>
</div>

<div class="content-body"
     data-controller="app--market-space--product--index"
     data-app--market-space--product--index-url-value="<%= app_market_space_product_datatable_path %>"
     data-app--market-space--product--index-item-path-value="<%= app_market_space_product_index_path %>"
>

  <section id="products-index">

    <div class="card">
      <div class="card-content">
        <div class="card-body">

          <table id="products-table" class="table dataTable table-striped" style="width:100%">
            <thead>
              <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Stock</th>
                <th>View</th>
              </tr>
            </thead>

            <tbody class="table-striped"></tbody>

            <tfoot>
              <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Stock</th>
                <th>View</th>
              </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>

  </section>
</div>