<div class="container">
  <h1 class="h1 text-center">
    Welcome to <%= Setting.first.app_name %>
  </h1>

  <a href="<%= product_index_path %>">
    <p class="text-center">
      Global Product List
    </p>
  </a>

</div>