<!-- display a datatable of all markets -->
<% content_for :title, 'Markets' %>

<div class="content-header d-flex mb-1 justify-content-between">
  <h1 class="m-0" style="line-height: 39px;">
    Markets
  </h1>
</div>
<div class="content-body">

  <section id="products-index">

    <div class="card">
      <div class="card-content">
        <div class="card-body">

          <table id="products-table" class="table table-striped" style="width:100%"
                 data-controller="app--site-admin--market--index"
                 data-app--site-admin--market--index-url-value="<%= app_site_admin_market_datatable_path %>"
                 data-app--site-admin--market--index-item-path-value=""
          >
            <thead>
              <tr>
                <th>Name</th>
                <th>Path</th>
                <th>Created</th>
                <th>View</th>
              </tr>
            </thead>

            <tbody class="table-striped"></tbody>

            <tfoot>
            <tr>
              <th>Name</th>
              <th>Path</th>
              <th>Created</th>
              <th>View</th>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>

  </section>

</div>