<% content_for :title, "New Market" %>

<div class="content-body">
  <section id="market-new">

    <form id="new-market-form" action="<%= app_market_index_path %>" method="post">

      <div class="d-flex justify-content-between mb-2">

        <div class="d-flex">
          <h1 class="m-0" style="line-height: 39px;">
            New Market
          </h1>
        </div>

        <div>
          <button type="submit" class="btn btn-success">
            <i data-feather="save"></i> Create
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="card-body">

              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

              <div class="row">

                <div class="col-12 col-lg-6 col-md-6 col-sm-12">

                  <div class="mb-1">
                    <label class="form-label" for="market-display-name">Display Name</label>
                    <input type="text" class="form-control" id="market-name" name="create[display_name]" placeholder="Manius Market" required>
                  </div>

                  <div class="mb-1">
                    <label class="form-label" for="market-path-name">Path</label>
                    <input type="text" class="form-control" id="market-path-name" name="create[path_name]" placeholder="maniusmarket" required>
                    <p><small class="text-muted">Path should be alphabetical characters only, all lowercase.</small></p>
                  </div>

                </div>

                <div class="col-12 col-lg-6 col-md-6 col-sm-12">

                  <div class="mb-1">
                    <label class="form-label" for="market-email">Email</label>
                    <input type="email" class="form-control" id="market-name" name="create[email]" placeholder="support@maniusmarket.com" required>
                  </div>

                </div>

              </div>

          </div>
        </div>
      </div>

    </form>

  </section>

</div>