<% content_for :title, "New Market" %>

<div class="content-body">
  <section id="market-new">

    <div class="d-flex justify-content-between mb-2">

      <div class="d-flex">
        <h1 class="m-0" style="line-height: 39px;">
          New Market
        </h1>
      </div>

      <div>
        <button type="button" class="btn btn-success" onclick="">
          <i data-feather="save"></i> Create
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="card-body">



        </div>
      </div>
    </div>

  </section>

</div>