<div class="card">
  <div class="card-header">
    <h4 class="card-title">Action Logs</h4>
  </div>
  <div class="card-body">

    <table id="action-logs-table" class="table table-striped" style="width:100%"
           data-controller="components--app--action-log-table"
           data-components--app--action-log-table-url-value="<%= app_action_logs_datatable_path model: @model.model_name.name, model_id: @model.id %>"
           data-components--app--action-log-table-item-path-value="<%= app_market_space_user_index_path %>"
    >
      <thead>
        <tr>
          <th>Date</th>
          <th>Action</th>
          <th>User</th>
        </tr>
      </thead>

      <tbody class="table-striped"></tbody>

      <tfoot>
        <tr>
          <th>Date</th>
          <th>Action</th>
          <th>User</th>
        </tr>
      </tfoot>
    </table>

  </div>
</div>

