<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light">

  <div class="d-flex justify-content-between mb-0">

    <div>
      <p class="clearfix blue-grey lighten-2 text-monospace">
        <small style="line-height: 21px;">
          Version ID: Beta
        </small>
      </p>

    </div>

    <div>
      <p class="clearfix blue-grey lighten-2 text-center" style="line-height: 21px;">
        &copy; 2021 <a class="text-bold-800 grey darken-2" href="https://www.m6securities.com" target="_blank">M6 Securities LLC,</a> All Rights Reserved   |   <a href="https://support.m6securities.com/" target="_blank">Support</a>   |   <a href="https://github.com/M6Securities/manius-market" target="_blank">Source Code</a>
      </p>
    </div>

    <div>
      <p class="clearfix blue-grey lighten-2" style="line-height: 21px;">
        <span class="float-md-right d-none d-md-block">Hand-crafted & Made with<i data-feather="heart" class="pink"></i></span>
      </p>
    </div>

  </div>

</footer>
<!-- END: Footer-->
