<% case :"#{@status}" %>
<% when :not_acknowledged %>
  <span class="badge badge-light-warning">Not Acknowledged</span>
<% when :acknowledged %>
  <span class="badge badge-light-success">Acknowledged</span>
<% when :processing %>
  <span class="badge bg-info">Processing</span>
<% when :shipped %>
  <span class="badge badge-light-success">Shipped</span>
<% when :delivered %>
  <span class="badge bg-success">Delivered</span>
<% when :cancelled %>
  <span class="badge badge-light-danger">Cancelled</span>
<% else %>
  <span class="text-danger">Unknown</span>
<% end %>
