<% case :"#{@payment_status}" %>
<% when :none %>
  <span class="badge bg-danger">None</span>
<% when :requires_payment_method %>
  <span class="badge badge-light-warning">Requires Payment Method</span>
<% when :requires_confirmation %>
  <span class="badge badge-light-warning">Requires Confirmation</span>
<% when :requires_action %>
  <span class="badge bg-warning">Requires Action</span>
<% when :processing %>
  <span class="badge bg-info">Processing</span>
<% when :requires_capture %>
  <span class="badge bg-info">Requires Capture</span>
<% when :cancelled %>
  <span class="badge bg-danger">Canceled</span>
<% when :succeeded %>
  <span class="badge bg-success">Succeeded</span>
<% else %>
  <span class="text-danger">Unknown</span>
<% end %>