<!-- displays a datatable of products -->

<% content_for :title, 'Receiving' %>

<div class="content-header d-flex mb-1 justify-content-between">
  <h1 class="m-0" style="line-height: 39px;">
    Receiving
  </h1>

  <a href="<%= new_app_market_space_receiving_path %>" class="btn btn-success">
    <i data-feather="plus"></i> Receive New Stock
  </a>
</div>
<div class="content-body">

  <section id="products-index">

    <div class="card">
      <div class="card-content">
        <div class="card-body">

          <table id="products-table" class="table dataTable table-striped" style="width:100%">
            <thead>
              <tr>
                <th>Date</th>
                <th>User</th>
                <th>View</th>
              </tr>
            </thead>

            <tbody class="table-striped"></tbody>

            <tfoot>
              <tr>
                <th>Date</th>
                <th>User</th>
                <th>View</th>
              </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>

  </section>

  <script defer>

      (function () {
          const exportColumns = [0, 1, 2, 3]

          const branchTable = $('#products-table').DataTable({
              ajax: {
                  'url': '<%= app_market_space_receiving_datatable_path %>',
                  'type': 'GET'
              },

              processing: true,
              serverSide: true,
              paging: true,
              pagingType: 'full_numbers',
              searching: true,
              lengthChange: true,
              responsive: true,
              order: [[ 0, 'asc' ]],
              columns: [
                  { data: 'created_at' },
                  { data: 'user_id'},
                  {
                      data: function (row, _type, _set) {
                          return `<a href="<%= app_market_space_receiving_index_path %>/${row.id}" class="btn btn-outline-primary my-0 mr-0">
                                    <i data-feather="chevrons-right"></i>
                                  </a>`;
                      }
                  }
              ],
              columnDefs: [
                  { name: 'created_at', targets: 0 },
                  { name: 'user_id', targets: 1 },
                  { name: 'view', targets: 2, orderable: false, searchable: false },

                  { targets: '_all', orderable: true, searchable: true}
              ],
              drawCallback: function(_settings, _json) {
                  updateFeather();
              },
              initComplete: function(_settings, _json) {
                  const tableInput = $('div.dataTables_filter input');

                  tableInput.unbind();
                  tableInput.bind('keyup', function(e) {
                      if(e.keyCode === 13) {
                          branchTable.search(this.value).draw();
                      }
                  });
              },
              dom: '<"card-header border-bottom p-1"<"head-label"><"dt-action-buttons text-right"B>><"d-flex justify-content-between align-items-center mx-0 row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>t<"d-flex justify-content-between mx-0 row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
              buttons: [
                  {
                      extend: 'csv',
                      exportOptions: {
                          columns: exportColumns
                      }
                  },
                  {
                      extend: 'copy',
                      exportOptions: {
                          columns: exportColumns
                      }
                  },
                  {
                      extend: 'pdf',
                      exportOptions: {
                          columns: exportColumns
                      },
                      orientation: 'landscape'
                  },
                  {
                      extend: 'print',
                      exportOptions: {
                          columns: exportColumns
                      }
                  }
              ]
          });
      })();

  </script>

</div>