<!DOCTYPE html>
<html class="loading semi-dark-layout" lang="en" data-layout="semi-dark-layout" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Manius Market">
    <meta name="keywords" content="online shopping, store">
    <meta name="author" content="M6 Securities">
    <title>Error</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.m6securities.com/vuexy_admin_7-4/app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.m6securities.com/vuexy_admin_7-4/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.m6securities.com/vuexy_admin_7-4/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.m6securities.com/vuexy_admin_7-4/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.m6securities.com/vuexy_admin_7-4/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.m6securities.com/vuexy_admin_7-4/app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.m6securities.com/vuexy_admin_7-4/app-assets/css/themes/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.m6securities.com/vuexy_admin_7-4/app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.m6securities.com/vuexy_admin_7-4/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.m6securities.com/vuexy_admin_7-4/app-assets/css/pages/page-misc.css">
    <!-- END: Page CSS-->

  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->

  <body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
          <!-- Not authorized-->
          <div class="misc-wrapper"><a class="brand-logo" href="javascript:void(0);">
            <h2 class="brand-text text-primary ms-1">Manius Market</h2>
          </a>
            <div class="misc-inner p-2 p-sm-3">
              <div class="w-100 text-center">
                <%= yield %>

                <a class="btn btn-primary mt-2 btn-sm-block" href="/">Back to home</a>

              </div>
            </div>
          </div>
          <!-- / Not authorized-->
        </div>
      </div>
    </div>
    <!-- END: Content-->


    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
  </body>
  <!-- END: Body-->

</html>